@import url('https://fonts.googleapis.com/css?family=Quicksand');
.bg-1 {
    background-color: #303030;
    color: #FFF176;
    width: 100vw;
}

.bg-2 {
    background-color: #FFF176;
    width: 100vw;
}

.bg-3 {
    color: #FFF176;
    padding: 14px 20px;
    width: 100vw;
}

#feedback {
    background-color: #303030;
    font-family: 'Marker Felt', sans-serif;
}

.loginbutton, .submitbutton {
    background-color: #303030;
    color: #FFF176;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px #444;
}

.loginbutton:active, .submitbutton {
    background-color: #515151;
    box-shadow: 0 3px #333;
    transform: translateY(4px);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
}

.img-circle-profile {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 3px solid #FFF176;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.postings {
    width: auto;
    height: 20vh;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #303030;
    box-shadow: 2px 5px black;
    display: flex;
}

#background {
    background-color: #303030;
    font-family: 'Marker Felt', sans-serif;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin-bottom: 50px;
    text-align: center;
}

#user_interface {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: #5D639B;
    text-align: center;
}

.user_interface {
    font-family: 'Marker Felt', sans-serif;
    color: #ffDF00;
    display: flex;
}

#icon1,
#icon2,
#icon3,
#icon4,
#icon5 {
    margin: 15px;
    width: 50vw;
}

.title,
.price,
.poster {
    color: #FFDF00;
    margin: 10px;
}

#header {
    color: #FFDF00;
    background-color: #5D639B;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 11vh;
    z-index: 2;
}

#posting_listings1 {
    background-color: #ACABA4;
    color: #ACABA4;
    margin-top: 60px;
    z-index: 1;
}
#posting_listings2{
    background-color: #ACABA4;
    color: #ACABA4;
    z-index: 1;
}

div.polaroid {
    width: 100%px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 5px;
}

div.container {
    color: #FFDF00;
    padding: 10px;
    background-color: #5D639B;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Marker Felt", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    margin:0 auto;
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

div.social-wrap button:active {
    background-color: #222;
}

ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

#newuser {
    cursor: pointer;
}
